.nav {
  height: 10%;
  margin: 50px auto;
  display: flex;
}

.nav img {
  height: 50px;
  margin-right: 25px;
  margin: auto;
  margin-right: 10px;
}

.nav span {
  font-size: 50px;
  font-weight: 600;
  letter-spacing: -3px;
  margin: auto;
}
